/* src/components/Sidebar.css */
.nav-link {
    color: #000;
    font-weight: 500;
}

.nav-link:hover, .nav-link.active {
    color: #007bff;
    background-color: #e9ecef;
}

.collapse .nav-link {
    padding-left: 20px;
}

.btn-toggle-nav .nav-link {
    font-size: 14px;
}

.nav-link.active {
    background-color: #007bff;
    color: white;
}